@tailwind base;
@tailwind components;
@tailwind utilities;

.text-content h1,
.text-content h2,
.text-content h3,
.text-content h4,
.text-content h5,
.text-content h6,
.text-content p,
.text-content ul,
.text-content ol,
.text-content div,
.text-content blockquote {
  margin: 0 0 2em 0;
}

.text-content *:last-child {
  margin: 0;
}

.hljs {
  background: #0d131f !important;
}

@media (min-width: 1025px) {
  ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-track {
    margin: 2rem;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.2);
  }
}
